In [1]:
def factorial(n):
    '''returns n!'''
    return 1 if n < 2 else n * factorial(n-1)

In [2]:
factorial.__doc__

'returns n!'

In [3]:
fact = factorial

In [4]:
list(map(fact, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

function that takes function as arg

In [5]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [6]:
def reverse(word):
    return word[::-1]

In [7]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [8]:
list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [9]:
list(filter(lambda n: n % 2, range(6)))

[1, 3, 5]

In [10]:
list(map(lambda n: n % 2, range(6)))

[0, 1, 0, 1, 0, 1]

In [11]:
list(map(fact, range(6)))

[1, 1, 2, 6, 24, 120]

In [15]:
metro_data = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ]

In [16]:
from operator import itemgetter

In [17]:
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [19]:
for city in sorted(metro_data, key=itemgetter(0)):
    print(city)

('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [20]:
for city in sorted(metro_data, key=itemgetter(3)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [24]:
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [25]:
from collections import namedtuple
LatLong = namedtuple('LatLong', 'lat long') #
Metropolis = namedtuple('Metropolis', 'name cc pop coord') #
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long)) #
    for name, cc, pop, (lat, long) in metro_data]

In [26]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [27]:
metro_areas[0].coord.lat

35.689722

In [28]:
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat') #

for city in sorted(metro_areas,key=attrgetter('coord.lat')): #
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)